{
 ;; Misc
 :infected-locations "Kterákoliv z následujících lokací: Čína, Itálie, Írán, Jižní Korea, Japonsko, Hong Kong, nebo jakákoliv oblast ve Spojených Státech se známým výskytem COVID-19"

 ;; Header
 :header/from "od"

 ;; Footer
 :footer/restart-screening "Spustit screening znovu"
 :footer/about "O tomto projektu"
 :footer/hospital-signup "Registrace do nemocnice"
 :footer/check-previous-result "Zkontrolovat předchozí výsledek"
 :footer/legal-disclaimer "Právní zřeknutí se odpovědnosti"
 :footer/disclaimer "Tento nástroj tvoří součást screeningu a jeho účelem je umožnit každému ověřit si, zda je u něho nutný test či nikoliv. Nástroj se snažíme v rámci možností aktualizovat tak, aby odpovídal směrnicím CDC.gov pro screening na COVID-19. Naším záměrem není rozporovat ani nahrazovat doporučení lékaře."
 :footer/life-threatening-emergency "Pokud jste v ohrožení života, volejte, prosím, linku 911. "
 :footer/please-review-disclaimer "Přečtěte si, prosím, plné znění Zásad ochrany osobních údajů a Zásad užívání (v angličtině)."

 ;; Modal
 :modal/enter-your-zip-code "Zadejde své PSČ:"
 :ok "Potvrdit"
 :cancel "Zrušit"

 ;; About Page
 :about/what-is-this "Ve veřejném zájmu a v souladu se směrnicemi CDC a WHO jsme vytvořili volně dostupný nástroj pro screening na COVID-19, jehož účelem je umožnit každému otestovat se doma na COVID-19 bezpečně a přitom zevrubně. Naším cílem je snížit kontakt veřejnosti se zdravotnickým personálem, zamezit přetížení lékařských pohotovostí a umožnit efektivní komunikaci lidí s jejich okolím."
 :about/website "webové stránky"
 :about/who-are-we [:<> "Luminare se specializuje na automatizaci zdravotnických protokolů a komplexních postupů tak, aby se pacientům dostalo včasné a adekvátní zdravotní péče. Ať už jde o otravu či COVID-19, náš tým dokáže s využitím dostupných dat proměnit zdravotnické postupy a kontrolní seznamy v praktické nástroje, které pomáhají tomu, aby se pacientům dostalo té nejlepší péče. Navštivte naše %1, pokud se o nás chcete dozvědět více."]
 ;REMOVED :about/who-are-we-part-two
 :about/title "O projektu CheckForCorona.com"
 :about/subtitle-what-is-this "Co to je?"
 :about/subtitle-who-are-we "Kdo jsme?"

 ;; Check Result Page
 :check-result/title "Zkontrolovat předchozí výsledek"
 :check-result/form-label "Prosím, zadejte svoje Screening ID:"
 :check-result/form-submit-button "Potvrdit"

 ;; Landing Page
 :harris-county.landing-page/title "Vítá vás nástroj pro předběžné samovyšetření na nákazu koronavirem (COVID-19) v okresech Harris a Houston"
 :fort-bend-county.landing-page/title "Vítá vás nástroj pro předběžné samovyšetření na nákazu koronavirem (COVID-19) v okrese Fort Bend"
 :landing-page/who-should-be-tested "Kdo by se měl testovat na COVID-19?"
 :landing-page/people-with-fever "Lidé s horečkou* nad (38°C) a dýchacími obtížemi, kteří:"
 :landing-page/have-had-close-contact "Byli v blízkém kontaktu** s někým s pozitivním nálezem COVID-19"
 :landing-page/have-other-conditions "Mají další zdravotní komplikace (cukrovka, plicní onemocnění, srdeční onemocnění, těhotenství)"
 :landing-page/are-older "Jsou ve věku 60 a více let"
 :landing-page/nursing-homes "Bydlí v domě s pečovatelskou službou"
 :landing-page/part-of-investigation "Jsou součástí vyšetřování ohniska názazy"
 :landing-page/healthcare-worker-first-responder "Jsou zdravotnickými pracovníky, záchranáři, policisty, hasiči, vojáky atd."
 :landing-page/who-does-not-test "Kdo se nemusí testovat na COVID-19?"
 :landing-page/people-without-symptoms "Lidé bez příznaků nákazy koronavirem"
 :landing-page/anyone-who-is-sick "Nemocní by měli zůstat doma."
 :landing-page/to-protect-yourself [:<> "V zájmu svého zdraví si často myjte ruce vodou a mýdlem, kašlejte a kýchejte do kapesníku nebo rukávu a udržujte si odstup alespoň 2 metrů od ostatních. Toto je pouze nástroj pro předběžné posouzení, který **nenahrazuje doporučení lékaře**."]
 :landing-page/if-emergency-call "Pokud jste v ohrožení života, volejte, prosím, linku 911. "
 :harris-county.landing-page/if-other-health-concerns [:<> "Pokud vás trápí něco jiného ohledně vašeho zdravotního stavu, volejte, prosím, svému poskytovateli zdravotní péče. Obyvatelé bez přístupu ke zdravotní péči se mohou denně mezi 9:00 a 19:00 obracet s dotazy ohledně COVID-19 na Harris Health Ask My Nurse, linka 713-634-1110. Pro více informací navštivte %1 nebo %2 nebo %3"]
 :fort-bend-county.landing-page/if-other-health-concerns [:<> "Pokud vás trápí něco jiného ohledně vašeho zdravotního stavu, volejte, prosím, svému poskytovateli zdravotní péče. Obyvatelé bez přístupu ke zdravotní péči se mohou denně mezi 9:00 a 19:00 obracet s dotazy ohledně COVID-19 na Harris Health Ask My Nurse, linka 713-634-1110. Pro více informací navštivte %1 nebo %2"]
 :or " nebo "
 :landing-page/older-than-65 "*Starší 65 let s teplotou nad 37.5°C"
 :landing-page/close-contact-defined "**Být v blízkém kontaktu znamená:"
 :landing-page/being-within-6-feet "a) být delší dobu ve vzdálenosti menší než přibližně 2 metry od nakaženého virem COVID-19. K blízkému kontaktu může dojít při péči o nemocného, soužití s ním, návštěvě, nebo společném pobytu v čekárně"
 :landing-page/footnote-or "– nebo –"
 :landing-page/having-direct-contact "b) být v přímém kontaktu s infekčními výměšky nakaženého virem COVID-19 (např. když na vás zakašle) "
 :landing-page/this-tool-will-help "Tento nástroj vám pomůže určit, zda potřebujete další posouzení nebo byste se měli nechat otestovat na COVID-19."
 :landing-page/please-help-answer "Prosím, pomozte nám odpovědět na několik otázek (případně vyplňte odpovědi za někoho jiného)."
 :landing-page/begin-self-assessment-button "Klikněte pro spuštění samovyšetření"

 ;; Location Panel
 :location-panel/share-location-for-epidemiology "Sdílet vaši polohu pro epidemiologické účely?"
 :location-panel/requesting-location-spinner "Zjišťujeme vaši polohu …"
 :location-panel/enter-zip-code "Zadejte PSČ"
 :location-panel/click-to-use-location "Klikněte pro použití polohy"
 :location-panel/opt-out-of-location-sharing "Už nechci dále sdílet svoji polohu"
 :location-panel/epidemiology-is-helpful "Pro trasování nákazy a plánování ochranných opatření je pro místní úřady nesmírně důležité vědět kdy a kde dochází k propuknutí nákazy."
 :location-panel/your-location-is-protected [:<> "Znalost vaší polohy využijeme **pouze** pro epidemiologické účely. Žádná citlivá data o vašem zdravotním stavu nikde neukládáme."]
 :location-panel/unable-to-use-location "Nepodařilo se určit vaši polohu. Prosím, zadejte svoje PSČ."
 :location-panel/please-enter-valid-zip "Prosím, zadejte platné PSČ."

 ;; Outcome Panels Harris
 :outcome-panel/covid-self-assessment-results "VÝSLEDKY SAMOVYŠETŘENÍ na nákazu koronavirem (COVID-19)"
 :outcome-panel/if-experiencing-call "Pokud jste v ohrožení života, volejte, prosím, "
 :outcome-panel/your-screening-id "Vaše screening ID je: "
 :outcome-panel/no-more-test-kits "Pro dnešek je už, bohužel, limit testů vyčerpán. Prosím, zkuste to znovu zítra a po 8. hodině ranní si zopakujte samovyšetření. Pokud jste v ohrožení života, volejte, prosím, 9-1-1. Jinak zůstaňte, prosím, doma a dodržujte preventivní opatření (myjte si ruce, kryjte si ústa při kašlání a kýchání, dezinfikujte frekventované povrchy a ve společnosti si udržujte odstup)."
 :outcome-panel/health-recommendations-title "Zdravotní doporučení"
 :outcome-panel/at-this-time-we-recommend "Momentálně doporučujeme:"
 :outcome-panel/stay-home-and-quarantine "Zůstaňte 14 dní doma v karanténě. Po tuto dobu nechoďte do práce ani do školy a nezúčastňujte se sportovních událostí ani jiných společenských a náboženských shromáždění."
 :outcome-panel/limit-contact-with-people "Omezte kontakt s jinými lidmi na nezbytné minimum. To zahrnuje i maximální možnou izolaci od vašich spolubydlících."
 :outcome-panel/wash-your-hands-with-soap "Často si myjte ruce vodou a mýdlem, zvláště po kašlání, kýchání nebo vyhazování použitého kapesníku do koše, nebo používejte dezinfekční prostředek na bázi alkoholu."
 :outcome-panel/avoid-touching-face "Nedotýkejte se očí, nosu a úst neumytýma rukama."
 :outcome-panel/cover-coughs-and-sneezes "Kašlejte a kýchejte do rukávu nebo kapesníku. Nikdy nekašlejte ve směru, kde se nachází jiný člověk."
 :outcome-panel/do-not-share "Po dobu trvání domácí karantény s nikým nesdílejte sklenice, ručníky, příbory, povlečení ani jiné věci."
 :outcome-panel/keep-surroundings-clean "Udržujte své okolí v čistotě. Čistěte povrchy, kterých se často dotýkáte vy a někdo jiný, např. kliky u dveří, telefony, povrchy v koupelně (a další předměty, na které kýcháte nebo kašlete), pomocí standardních domácích dezinfekčních prostředků, např. ubrousků Clorox."
 :outcome-panel/if-you-are-sick-stay-home "Pokud jste nemocní, zůstaňte doma, dál od ostatních."
 :outcome-panel/remember-to-avoid-gatherings "Pamatujte na to vyhýbat se setkáním s větším počtem lidí, protože takováto setkání mohou vést k rychlejšímu šíření nákazy."
 :outcome-panel/stay-informed "Mějte aktuální informace. Doporučení a nařízení místních úřadů se často aktualizují."
 ;; REMOVED :outcome-panel/visit "Visit "
 ;; REMOVED :outcome-panel/for-frequent-updates " for frequent updates."
 :outcome-panel/visit-url-for-updates [:<> "Navštivte %1 pro získání aktuálních informací."]
 :harris-county.outcome-panel/visit-urls-for-updates [:<> "Navštivte %1, %2 a %3 pro získání aktuálních informací."]
 :outcome-panel/feeling-stressed-title "Pociťujete stres nebo úzkost?"
 :outcome-panel/fear-and-anxiety "Strach a úzkost spojené s nákazou mohou být těžko zvládnutelné a u dospělých i dětí mohou vyvolat silné emoce."
 :outcome-panel/people-with-preexisting-mental "Lidé s psychologickou/psychiatrickou diagnózou by měli pokračovat v léčbě, měli by zůstat v kontaktu se svým poskytovatelem zdravotní péče a také by si měli věnovat pozornost novým příznakům."
 :outcome-panel/stay-connected-with-friends "Zůstaňte v kontaktu s přáteli a příbuznými, zvláště seniory, ať už přes telefon, videokonference nebo email."
 :outcome-panel/use-other-ways "Využívejte alternativních prostředů relaxace jako cvičení, protahování a meditace."
 :outcome-panel/call-healthcare-provider "Pokud vaše reakce na stres mají negativní dopad na vaše denní aktivity, zavolejte svému lékaři."
 :outcome-panel/for-additional-support "Potřebujete-li další pomoc, kontaktujte:"
 :outcome-panel/harris-center-mental-support "The Harris Center COVID-19 Mental Health Support Line: "
 :outcome-panel/disaster-distress-helpline "Disaster Distress Helpline: "
 :outcome-panel/r100-wash-hands "Často si myjte ruce mýdlem a vodou, zvláště po kašlání, kýchání nebo vyhazování použitého kapesníku do koše, a to alespoň 20 vteřin, nebo, pokud si nemůžete ruce umýt, použijte dezinfekční prostředek na bázi alkoholu."
 :outcome-panel/r100-avoid-touching-face "Nedotýkejte se očí, nosu a úst neumytýma rukama."
 :outcome-panel/r100-cover-cough "Kašlejte a kýchejte do rukávu nebo kapesníku. Nikdy nekašlejte ve směru, kde se nachází někdo jiný."
 :outcome-panel/r100-avoid-close-contact "Zamezte kontaktu s jinými lidmi, zvláště pokud jste v rizikové skupině pro COVID-19."
 :outcome-panel/r100-get-plenty-of-rest "Pro udržení silné imunity hodně odpočívejte, přijímejte dostatečné množství tekutin, zdravě jezte a vyhýbejte se stresu."
 :outcome-panel/r100-keep-surroundings-clean "Udržujte své okolí v čistotě. Čistěte povrchy, kterých se často dotýkáte vy a někdo jiný, např. kliky u dveří, telefony a povrchy v koupelně (a další předměty na které kašlete nebo kýcháte), pomocí standardních domácích dezinfekčních prostředků, např. ubrousků Clorox."
 :outcome-panel/r100-if-you-are-sick "Pokud jste nemocní, zůstaňte doma, dál od ostatních."
 :outcome-panel/r100-stay-informed "Mějte aktuální informace. Doporučení a nařízení místních úřadů se často aktualizují."
 :outcome-panel/contact-local-health-dept "Pro další vyšetření kontaktujte svého poskytovatele zdravotní péče."

 ;; r100
 :outcome-panel/based-on-your-results-r100 [:<> "Z vašich výsledků vyplývá, že u vás momentálně **NENÍ** nutné další vyšetření ani testování."]
 :outcome-panel/please-feel-free-to-repeat "Pokud se ohledně vašeho zdravotního stavu něco změní, neváhejte tento test zopakovat za 24 hodin nebo dříve."
 :outcome-panel/please-follow-guidelines "Prosím, nadále se řiďte doporučeními vašeho ministerstva zdravotnictví a pokud vás trápí váš zdravotní stav nebo máte další dotazy, kontaktujte svého poskytovatele zdravotní péče."
 :outcome-panel/based-on-your-results [:<> "Z vašich výsledků vyplývá, že **NEMUSÍTE** na pohotovost."]

 ;; r300
 :outcome-panel/based-on-results-you-have [:<> "Z vašich výsledků vyplývá, že momentálně **NEMÁTE** žádné příznaky, které by poukazovaly na nákazu virem COVID-19. Doporučujeme zůstat doma a kontaktovat místní zdravotnické zařízení."]

 ;; r400
 :outcome-panel/based-on-answers-higher-risk "Z vašich odpovědí vyplývá, že u vás může být vyšší riziko nákazy koronavirem (COVID-19). "
 ;; REMOVED :outcome-panel/contact-nurse-triage "Contact the COVID-19 Nurse Triage Call Center at "
 ;; REMOVED :outcome-panel/for-further-evaluation " for further evaluation."
 :outcome-panel/contact-nurse-triage2 [:<> "Za účelem další evaluace kontaktujte COVID-19 Nurse Triage Call Center na lince %1."]

 ;; disclaimer
 :outcome-panel/disclaimer-title "Vyloučení odpovědnosti:"
 :outcome-panel/not-a-diagnosis " Toto není lékařská diagnóza."

 ;; Harris factors
 :option/yes "Ano"
 :option/no "Ne"
 :option/unknown "Nevím"
 :question/africa "Afrika"
 :question/asia "Asie"
 :question/australia "Austrálie"
 :question/europe "Evropa"
 :question/south-america "Jižní Amerika"
 :question/no-travel "Necestoval(a) jsem"
 :option/feeling-sick "Je mi špatně"
 :option/feeling-fine "Je mi dobře"
 :option/temp-above-104 "Více než 38 °C"
 :option/older-than-65-and-temp-above-99 "Více než 37.5 °C a je mi přes 65 let"
 :option/i-feel-feverish "Cítím, že mám horečku"
 :option/i-dont-know "Nevím"
 :option/normal "Normální"
 :option/cough-dry "Kašel - suchý (neproduktivní)"
 :option/cough-wet "Kašel - vlhký (produktivní)"
 :option/shortness-of-breath "Dušnost"
 :option/wheezing "Sípání"
 :option/none-of-the-above "Žádná z možností výše"
 :option/headache "Bolest hlavy"
 :option/runny-nose "Rýma"
 :option/itchy-eyes "Svědění očí"
 :option/watery-eyes "Slzení očí"
 :option/sneezing "Kýchání"
 :option/hypertension "Mám vysoký krevní tlak / Hypertenzi"
 :option/heart-disease "Trpím srdečním onemocněním"
 :option/lung-disease "Trpím plicním onemocněním"
 :option/diabetes "Mám cukrovka"
 :option/immunosuppressed-by-meds "Mám oslabenou imunitu v důsledku medikace nebo HIV"
 :option/nursing-home-resident "Bydlím v domě s pečovatelskou službou nebo zařízení pro péči o chronicky nemocné"
 :option/pregnant "Jsem těhotná nebo méně než 2 týdny po porodu"
 :option/younger-than-20 "Méně než 20"
 :option/over-80 "80 let nebo více"
 :factor-question/in-person-close-contact "1. Byl(a) jste v osobním kontaktu s osobu, jíž byla diagnostikována nákaza koronavirem (COVID-19)?"
 :factor-question/recent-international-travel "2. Cestoval(a) jste v posledních 14 dnech do některé z následujících zahraničních destinací?"
 :factor-question/how-are-you-feeling "3. Jak se dnes cítíte?"
 :factor-question/what-is-your-temp-harris "Jaká je vaše tělesná teplota?"
 :factor-question/any-of-the-following "5. Máte některé z následujících příznaků?"
 :factor-question/allergies "6. Trpíte některou z následujících alergií?"
 :factor-question/do-any-of-the-following-apply "7. Platí o vás následující:"
 :factor-question/what-is-your-age-harris "Kolik je vám let?"
 :factor-question/first-responder-or-healthcare "9. Jste zdravotnický pracovník, záchranář, policista, hasič, voják atp.?"

 ;; Result Bars
 :result-bar/click-to-proceed "Klikněte, chcete-li pokračovat ve screeningu"
 :result-bar/please-complete-all-fields "Prosím, vyplňte všechna pole"
 :result-bar/possible-infection "Možná nákaza"
 :result-bar/screened-negative "Screening negativní"

 ;; Outcome Panels Fort Bend - G. Klein, 28 Mar 2020
 ;; R400
 :fort-bend-county.outcome-panel/contact-call-center [:<> "Pro další vyhodnocení kontaktujte COVID-19 Health Professional Triage Call Center na lince %1"]
 :fort-bend-county.outcome-panel/provide-code "Zadejte tento kód pro telefonické spojení s Health Professional Triage Center."
 :fort-bend-county.outcome-panel/code-is-for-speaking "Vezměte, prosím, na vědomí, že tento kód vám pouze umožní mluvit se specialistou a není zárukou provedení testu."
 :fort-bend-county.outcome-panel/if-approved "Pokud vám bude schváleno testování, obdržíte další unikátní kód, který si vezmete s sebou na místo."
 :fort-bend-county.outcome-panel/please-dont-come "Prosím nechoďte na místo s tímto kódem, bude neplatný."

 ;; R300
 :fort-bend-county.outcome-panel/contact-health-pro-triage "Pro další vyhodnocení kontaktujte COVID-19 Health Professional Triage Call Center na lince 281-238-2363"}

 ;; everything below this point is not used in the Harris Instance as far as I can tell
 ;; - G. Klein, 24 Mar 2020

 ;; outcome panels
 ;; FIXME :outcome-panel/you-have-screened
 ;; FIXME :outcome-panel/on-the
 ;; FIXME :outcome-panel/strong-covid19-assessment
 ;; FIXME :outcome-panel/but-you-do-not
 ;; FIXME :outcome-panel/minimal-symptoms
 ;; FIXME :outcome-panel/strong-negative
 ;; FIXME :outcome-panel/strong-positive
 ;; FIXME :outcome-panel/symptoms-should-be-evaluated
 ;; FIXME :outcome-panel/have-concerning-medical-symptoms
 ;; FIXME :outcome-panel/not-in-harris
 ;; FIXME :outcome-panel/call-arkansas-dept-of-health
 ;; FIXME :outcome-panel/during-business-hours
 ;; FIXME :outcome-panel/strong-if
 ;; FIXME :outcome-panel/you-have-indicated
 ;; FIXME :outcome-panel/known-exposure
 ;; FIXME :outcome-panel/have-travelled-from
 ;; FIXME :outcome-panel/call
 ;; FIXME :outcome-panel/white-county-medical
 ;; FIXME :outcome-panel/harris-medical-center
 ;; FIXME :outcome-panel/r400h-click-link
 ;; FIXME :outcome-panel/please-contact-local-hd
 :outcome-panel/call-local-health-dept "Pokud víte, že jste byl(a) vystaven(a) nákaze koronavirem (COVID-19), nebo jste přicestoval(a) z oblasti, o které je známo, že v ní vypukla epidemie COVID-19, kontaktujte místní ministerstvo zdravotnictví."}
 ;; FIXME :outcome-panel/please-call-pcp
 ;; FIXME :outcome-panel/need-further-evaluation-or-testing
 ;; FIXME :outcome-panel/please-repeat-4-hours
 ;; FIXME :outcome-panel/implement-home-care
 ;; FIXME :outcome-panel/feel-well-home-care
 ;; FIXME :outcome-panel/appropriate-caregivers
 ;; FIXME :outcome-panel/seperate-bedroom
 ;; FIXME :outcome-panel/resources-for-food-and-water
 ;; FIXME :outcome-panel/you-have-access-ppe
 ;; FIXME :outcome-panel/you-should-discuss-plan
 ;; FIXME :outcome-panel/call-pcp-for-test
 ;; FIXME :outcome-panel/results-isolation-testing
 ;; FIXME :outcome-panel/outpatient-clinics-cant
 ;; FIXME :outcome-panel/please-call-er-prior
 ;; FIXME :outcome-panel/before-entering-facility
 ;; FIXME :outcome-panel/you-will-be-escorted
 ;; FIXME :outcome-panel/results-require-attention
 ;; FIXME :outcome-panel/please-call-to-discuss
 ;; FIXME :outcome-panel/please-share-screening
 ;; FIXME :outcome-panel/questions
 ;; FIXME :outcome-panel/answers
 ;; FIXME :outcome-panel/assessment-results

 ;; PANEL_C300_COMORBIDITIES
 ;; FIXME :not-limited-immunosuppressant-meds

 ;; Questions
 ;; FIXME :option/i-feel-fine
 ;; FIXME :option/i-feel-sick
 ;; FIXME :option/i-feel-very-sick
 ;; FIXME :option/temp-above
 ;; FIXME :option/temp-below
 ;; FIXME :option/normal-temp
 ;; FIXME :option/cough
 ;; FIXME :option/i-am-breathing-very-fast
 ;; FIXME :option/high-blood-pressure
 ;; FIXME :option/cancer-diagnosis
 ;; FIXME :option/taking-immunosuppressant-medication
 ;; FIXME :option/kidney-failure-on-dialysis
 ;; FIXME :option/other-chronic-health-condition
 ;; FIXME :factor-question/feeling-sick-today
 ;; FIXME :factor-question/been-in-contact-with-covid19
 ;; FIXME :factor-question/recently-traveled
 ;; FIXME :factor-question/have-been-exposed
 ;; FIXME :factor-question/what-is-your-temp
 ;; FIXME :factor-question/do-you-have-the-following
 ;; FIXME :factor-question/lower-respiratory-distress
 ;; FIXME :factor-question/what-is-your-age

 ;; Result Table
 ;; FIXME :results-table/comorbidities
 ;; FIXME :results-table/age-risk
