{
 ;; Misc
 :infected-locations "Any of the following locations: China, Italy, Iran, South Korea, Japan, Hong Kong, or any areas within the United States with a known COVID-19 outbreak"

 ;; Header
 :header/from "from"

 ;; Footer
 :footer/restart-screening "Restart Screening"
 :footer/about "About this project"
 :footer/hospital-signup "Hospital Signup"
 :footer/check-previous-result "Check a Previous Result"
 :footer/legal-disclaimer "Legal disclaimer"
 :footer/disclaimer "This tool is provided as part of a screening so people can see if they need to be tested or not. It is updated to the best of our abilities to match the CDC.gov guidelines for COVID-19 screening. This is not intended to contradict or replace a licensed independent practitioner’s medical advice."
 :footer/life-threatening-emergency "If you are having a life-threatening emergency, please call 911. "
 :footer/please-review-disclaimer "Please review the full Privacy Policy and Use Policy."

 ;; Modal
 :modal/enter-your-zip-code "Enter your ZIP code:"
 :ok "OK"
 :cancel "Cancel"

 ;; About Page
 :about/what-is-this "We have created our free COVID-19 screening tool out of public necessity in accordance with CDC and WHO guidelines to help the public complete a safe, comprehensive, at-home self assessment of COVID-19. Our goal is to help decrease potential exposure to healthcare workers, avoid ER overcrowding, and allow efficient communication with your community."
 :about/website "website"
 :about/who-are-we-part-one "Luminare specializes in digitization of healthcare specific protocols and complex workflow pathways so that patients receive timely and appropriate care. From sepsis to COVID-19, our team can harness data and turn medical workflows and checklists into actionable tools to help deliver the best care to patients. Visit our "
 :about/who-are-we-part-two " to learn more about us."
 :about/title "About the CheckForCorona.com Project"
 :about/subtitle-what-is-this "What is this?"
 :about/subtitle-who-are-we "Who are we?"

 ;; Check Result Page
 :check-result/title "Check A Previous Result"
 :check-result/form-label "Please enter your Screening ID:"
 :check-result/form-submit-button "Submit"

 ;; Landing Page
 :harris-county.landing-page/title "Welcome to the Harris County/Houston Coronavirus Disease (COVID-19) self-assessment tool"
 :fort-bend-county.landing-page/title "Welcome to the Fort Bend County Coronavirus Disease (COVID-19) self-assessment tool"
 :landing-page/who-should-be-tested "Who should be tested for COVID-19?"
 :landing-page/people-with-fever "People with fever* above 100.4°F (38°C) and respiratory symptoms who:"
 :landing-page/have-had-close-contact "Have had close contact** with someone diagnosed with COVID-19"
 :landing-page/have-other-conditions "Have other health conditions (diabetes, lung disease, heart disease, pregnancy)"
 :landing-page/are-older "Are age 60 and older"
 :landing-page/nursing-homes "Are residents of nursing homes"
 :landing-page/part-of-investigation "Part of an investigation of a cluster or an outbreak"
 :landing-page/healthcare-worker-first-responder "Are Healthcare workers/First responders"
 :landing-page/who-does-not-test "Who does not need to be tested for COVID-19?"
 :landing-page/people-without-symptoms "People without symptoms related to coronavirus disease"
 :landing-page/anyone-who-is-sick "Anyone who is sick needs to stay home. "
 :landing-page/to-protect-yourself [:<> "To protect yourself, wash your hands frequently with soap and water, cover your cough/sneeze with a tissue or inside elbow and maintain a distance of about from 6 feet or more from others. This is only an assessment tool and **does not replace medical advice** from a healthcare provider."]
 :landing-page/if-emergency-call "If you are experiencing a life-threatening emergency, please call 911"
 :harris-county.landing-page/if-other-health-concerns "If you have other health concerns, please call your healthcare provider. Residents without access to healthcare can call the Harris Health Ask My Nurse line for COVID-19-related questions at 713-634-1110 from 9am-7pm, 7 days a week. For more information on COVID-19, please go to "
 :fort-bend-county.landing-page/if-other-health-concerns "If you have other health concerns, please call your healthcare provider. Residents without access to healthcare can call the Harris Health Ask My Nurse line for COVID-19-related questions at 713-634-1110 from 9am-7pm, 7 days a week. For more information on COVID-19, please go to "
 :or " or "
 :landing-page/older-than-65 "*Older than 65 and temperature above 99.6F"
 :landing-page/close-contact-defined "**Close contact is defined as:"
 :landing-page/being-within-6-feet "a) being within approximately 6 feet (2 meters) of a COVID-19 case for a prolonged period of time; close contact can occur while caring for, living with, visiting, or sharing a healthcare waiting area or room with a COVID-19 case"
 :landing-page/footnote-or "– or –"
 :landing-page/having-direct-contact "b) having direct contact with infectious secretions of a COVID-19 case (e.g., being coughed on) "
 :landing-page/this-tool-will-help "This tool will help determine whether you may need further assessment or need to be tested for COVID-19."
 :landing-page/please-help-answer "Please help us answer a few questions (or complete the answers for someone else.)"
 :landing-page/begin-self-assessment-button "Click to Begin Self-Assessment"

 ;; Location Panel
 :location-panel/share-location-for-epidemiology "Share your location for epidemiology?"
 :location-panel/requesting-location-spinner  "Requesting Location …"
 :location-panel/enter-zip-code "Enter ZIP Code"
 :location-panel/click-to-use-location "Click to Use Location"
 :location-panel/opt-out-of-location-sharing "I want to opt out of sharing location"
 :location-panel/epidemiology-is-helpful "Knowing when and where outbreaks happen is incredibly helpful for local health authorities for tracking the disease and advising a community response."
 :location-panel/your-location-is-protected [:<> "We will **only** use your location for epidemiological purposes. No protected health information (PHI) is stored."]
 :location-panel/unable-to-use-location "Unable to collect your location. Please enter your ZIP code."
 :location-panel/please-enter-valid-zip "Please enter a valid ZIP code."

 ;; Outcome Panels Harris
 :outcome-panel/covid-self-assessment-results "Coronavirus disease (COVID-19) SELF ASSESSMENT RESULTS"
 :outcome-panel/if-experiencing-call "If you are experiencing a life-threatening emergency, please call "
 :outcome-panel/your-screening-id "Your screening ID is: "
 :outcome-panel/no-more-test-kits "Unfortunately, we have reached our testing limit for today. Please try again tomorrow and repeat the self-assessment beginning at 8AM. If you have a life-threatening emergency, please call 9-1-1. Otherwise, please stay home and make sure you take precautionary protective measures (wash your hands, cover your cough/sneeze, disinfect commonly used surfaces and keep social distancing)."
 :outcome-panel/health-recommendations-title "Health Recommendations"
 :outcome-panel/at-this-time-we-recommend "At this time we recommend you do the following:"
 :outcome-panel/stay-home-and-quarantine "Stay home for 14 days and self-quarantine. Do not go to work, classes, athletic events, or other social or religious gatherings during this time."
 :outcome-panel/limit-contact-with-people "Limit contact with other people as much as possible. This includes isolating yourself as much as possible from anyone living in your residence."
 :outcome-panel/wash-your-hands-with-soap "Wash your hands with soap and water or use alcohol-based hand sanitizer frequently and especially after coughing, sneezing or throwing a used tissue in the garbage."
 :outcome-panel/avoid-touching-face "Avoid touching your eyes, nose, and mouth with unwashed hands."
 :outcome-panel/cover-coughs-and-sneezes "Cover coughs and sneezes with your upper arm or a tissue. Never cough in the direction of someone else."
 :outcome-panel/do-not-share "Do not share drinking glasses, towels, eating utensils, bedding, or any other items until you are no longer asked to self-quarantine."
 :outcome-panel/keep-surroundings-clean "Keep your surroundings clean. Clean frequently touched surfaces that you share with others, such as door knobs, telephones, and bathroom surfaces (or any other object that you sneeze or cough on), with a standard household disinfectant such as Clorox wipes."
 :outcome-panel/if-you-are-sick-stay-home "If you are sick, stay at home and away from others."
 :outcome-panel/remember-to-avoid-gatherings "Remember to avoid gatherings as it can lead to increased spread in our community."
 :outcome-panel/stay-informed "Stay informed. Guidance from trusted health authorities are updated frequently."
 :outcome-panel/visit "Visit "
 :outcome-panel/for-frequent-updates " for frequent updates."
 :outcome-panel/feeling-stressed-title "Feeling stressed or anxious?"
 :outcome-panel/fear-and-anxiety "Fear and anxiety about a disease can be overwhelming and cause strong emotions in adults and children. "
 :outcome-panel/people-with-preexisting-mental "People with preexisting mental health conditions should continue with their treatment plans, stay connected with their healthcare provider, and monitor for any new symptoms."
 :outcome-panel/stay-connected-with-friends "Stay connected with friends and family by using the phone, video call, email, etc. especially the elderly."
 :outcome-panel/use-other-ways "Use other ways to relax like exercise, stretching, and meditation."
 :outcome-panel/call-healthcare-provider "Call your healthcare provider if stress reactions interfere with your daily activities."
 :outcome-panel/for-additional-support "For additional support, please contact:"
 :outcome-panel/harris-center-mental-support "The Harris Center COVID-19 Mental Health Support Line: "
 :outcome-panel/disaster-distress-helpline "Disaster Distress Helpline: "
 :outcome-panel/r100-wash-hands "Wash hands frequently with soap and water for at least 20 seconds or use alcohol-based hand sanitizer when you cannot wash your hands, especially after coughing, sneezing, or throwing a used tissue in the trash. "
 :outcome-panel/r100-avoid-touching-face "Avoid touching your eyes, nose, and mouth with unwashed hands."
 :outcome-panel/r100-cover-cough "Cover coughs and sneezes with your upper arm or a tissue. Never cough in the direction of someone else."
 :outcome-panel/r100-avoid-close-contact "Avoid close contact with people who are sick, especially if you are at higher risk for COVID-19."
 :outcome-panel/r100-get-plenty-of-rest "Get plenty of rest, drink plenty of fluids, eat healthy foods, and manage your stress to keep your immunity strong."
 :outcome-panel/r100-keep-surroundings-clean "Keep your surroundings clean. Clean frequently touched surfaces that you share with others, such as door knobs, telephones, and bathroom surfaces (or any other object that you sneeze or cough on), with a standard household disinfectant such as Clorox wipes."
 :outcome-panel/r100-if-you-are-sick "If you are sick, stay at home and away from others."
 :outcome-panel/r100-stay-informed "Stay informed. Guidance from trusted health authorities are updated frequently."
 :outcome-panel/contact-local-health-dept "Contact your local health department for further evaluation."

 ;; r100
 :outcome-panel/based-on-your-results-r100 [:<> "Based on your results you do **NOT** need further evaluation or testing at this time. "]
 :outcome-panel/please-feel-free-to-repeat "Please feel free to repeat this assessment in 24 hours or sooner if anything changes with your health."
 :outcome-panel/please-follow-guidelines "Please continue to follow the guidance of your local health department and contact your local healthcare provider for any healthcare concerns or questions you may continue to have."
 :outcome-panel/based-on-your-results [:<> "Based on your results you do **NOT** need to go to the ER"]

 ;; r300
 :outcome-panel/based-on-results-you-have [:<> "Based on your results, you have **NO** concerning symptoms that would indicate COVID-19 at this time. We recommend that you stay home and contact your local health department."]

 ;; r400
 :outcome-panel/based-on-answers-higher-risk "Based on your answers, you may be at a higher risk for Coronavirus disease (COVID-19). "
 :outcome-panel/contact-nurse-triage "Contact the COVID-19 Nurse Triage Call Center at "
 :outcome-panel/for-further-evaluation " for further evaluation."

 ;; disclaimer
 :outcome-panel/disclaimer-title "Disclaimer:"
 :outcome-panel/not-a-diagnosis " This is not a medical diagnosis."

 ;; Harris factors
 :option/yes "Yes"
 :option/no "No"
 :option/unknown "Unknown"
 :question/africa "Africa"
 :question/asia "Asia"
 :question/australia "Australia"
 :question/europe "Europe"
 :question/south-america "South America"
 :question/no-travel "No travel"
 :option/feeling-sick "I am feeling sick"
 :option/feeling-fine "I am feeling fine"
 :option/temp-above-104 "Temperature above 100.4 °F (38 °C)"
 :option/older-than-65-and-temp-above-99 "Older than 65 and temperature above 99.6 °F (37.5 °C)"
 :option/i-feel-feverish "I feel feverish"
 :option/i-dont-know "I don't know"
 :option/normal "Normal"
 :option/cough-dry "Cough - dry (nonproductive)"
 :option/cough-wet "Cough - wet (productive)"
 :option/shortness-of-breath "Shortness of breath"
 :option/wheezing "Wheezing"
 :option/none-of-the-above "None of the above"
 :option/headache "Headache"
 :option/runny-nose "Runny Nose"
 :option/itchy-eyes "Itchy Eyes"
 :option/watery-eyes "Watery Eyes"
 :option/sneezing "Sneezing"
 :option/hypertension "High blood pressure / Hypertension"
 :option/heart-disease "Heart Disease"
 :option/lung-disease "Lung Disease"
 :option/diabetes "Diabetes"
 :option/immunosuppressed-by-meds "Immunosuppressed by medication or HIV"
 :option/nursing-home-resident "Resident of Nursing Home or Chronic Care Facility"
 :option/pregnant "Pregnant or post-partum within 2 weeks of delivery"
 :option/younger-than-20 "Younger than 20"
 :option/over-80 "80 or older"
 :factor-question/in-person-close-contact "1. Have you had in-person close contact with a person diagnosed with coronavirus disease (COVID-19)?"
 :factor-question/recent-international-travel "2. Have you traveled internationally to any of the following in the last 14 days?"
 :factor-question/how-are-you-feeling "3. How do you feel today?"
 :factor-question/what-is-your-temp-harris "4. What is your temperature?"
 :factor-question/any-of-the-following "5. Do you have any of the following?"
 :factor-question/allergies "6. Do you have any of the following?"
 :factor-question/do-any-of-the-following-apply "7. Does any of the following apply to you:"
 :factor-question/what-is-your-age-harris "8. What is your age?"
 :factor-question/first-responder-or-healthcare "9. Are you a first responder or healthcare worker?"

 ;; Result Bars
 :result-bar/click-to-proceed "Click to Proceed with Screen"
 :result-bar/please-complete-all-fields "Please complete all fields"
 :result-bar/possible-infection "Possible Infection"
 :result-bar/screened-negative "Screened Negative"

 ;; Outcome Panels Fort Bend - G. Klein, 28 Mar 2020
 ;; R400
 :fort-bend-county.outcome-panel/call-center-contact-at "Contact the COVID-19 Health Professional Triage Call Center at "
 :fort-bend-county.outcome-panel/further-evaluation " for further evaluation. "
 :fort-bend-county.outcome-panel/provide-code "Please provide this code to call the health professional triage center. "
 :fort-bend-county.outcome-panel/code-is-for-speaking "Please know this code is only applicable to speak to the professional and does not guarantee testing. "
 :fort-bend-county.outcome-panel/if-approved "If you are approved to for testing, you will get another unique code to bring to the site. "
 :fort-bend-county.outcome-panel/please-dont-come "Please do not come to the site with this code as it won’t apply."

 ;; R300
 :fort-bend-county.outcome-panel/contact-health-pro-triage "Contact the COVID-19 Health Professional Triage Call Center at 281-238-2363 for further evaluation"

 ;; everything below this point is not used in the Harris Instance as far as I can tell
 ;; - G. Klein, 24 Mar 2020

 ;; outcome panels
 :outcome-panel/you-have-screened "You have screened "
 :outcome-panel/on-the " on the "
 :outcome-panel/strong-covid19-assessment "COVID-19 Assessment"
 :outcome-panel/but-you-do-not ", but you do not have concerning symptoms at this time."
 :outcome-panel/minimal-symptoms " and have minimal symptoms."
 :outcome-panel/strong-negative "NEGATIVE"
 :outcome-panel/strong-positive "POSITIVE"
 :outcome-panel/symptoms-should-be-evaluated " and have symptoms that should be evaluated by a healthcare professional."
 :outcome-panel/have-concerning-medical-symptoms ", but have concerning medical symptoms."
 :outcome-panel/not-in-harris "Your location or zip code does not belong to Harris County. Please contact your local health department."
 :outcome-panel/call-arkansas-dept-of-health "Call the Arkansas Department of Health at "
 :outcome-panel/during-business-hours " during business hours "
 :outcome-panel/strong-if "IF"
 :outcome-panel/you-have-indicated " you have indicated that you have:"
 :outcome-panel/known-exposure "A known exposure to COVID-19"
 :outcome-panel/have-travelled-from "Have travelled from a place with a known COVID-19 outbreak."
 :outcome-panel/call "Call "
 :outcome-panel/white-county-medical " for White County Medical Center Emergency Room, Searcy"
 :outcome-panel/harris-medical-center " for Harris Medical Center Emergency Room, Newport"
 :outcome-panel/r400h-click-link "Please click on this link and fill out the form to schedule COVID-19 testing."
 :outcome-panel/please-contact-local-hd "Please contact your local health department."
 :outcome-panel/call-local-health-dept "Call your local health department if you have either a known exposure to Coronavirus disease (COVID-19) or have traveled from a place with a known COVID-19 outbreak."
 :outcome-panel/please-call-pcp "Please call your primary care provider if you continue to have health concerns."
 :outcome-panel/need-further-evaluation-or-testing " need further evaluation or testing at this time."
 :outcome-panel/please-repeat-4-hours "Please repeat this assessment in 4 hours or if you feel worse."
 :outcome-panel/implement-home-care "You may implement a home care plan if:"
 :outcome-panel/feel-well-home-care "You feel well enough to receive care at home."
 :outcome-panel/appropriate-caregivers "Appropriate caregivers are available at home."
 :outcome-panel/seperate-bedroom "There is a separate bedroom where you can recover without sharing immediate space with others."
 :outcome-panel/resources-for-food-and-water "Resources for access to food and other necessities are available."
 :outcome-panel/you-have-access-ppe "You and other household members have access to appropriate, recommended personal protective equipment (at a minimum, gloves and facemask) and are capable of adhering to precautions recommended as part of home care or isolation (e.g., respiratory hygiene and cough etiquette, hand hygiene)"
 :outcome-panel/you-should-discuss-plan "You should discuss your plan with your Primary care provider or any healthcare provider if there are household members who may be at increased risk of complications from COVID-19 infection (.e.g., people >65 years old, young children, pregnant women, people who are immunocompromised or who have chronic heart, lung, or kidney conditions)."
 :outcome-panel/call-pcp-for-test "Please call your primary care provider to be tested for COVID-19."
 :outcome-panel/results-isolation-testing "Based on your results you need a medical evaluation that needs to be done in a specific type of isolation room."
 :outcome-panel/outpatient-clinics-cant "Outpatient clinics are not properly equipped to do your examination."
 :outcome-panel/please-call-er-prior "Please call the ER prior to presentation."
 :outcome-panel/before-entering-facility "Before entering the facility, we will bring you a mask."
 :outcome-panel/you-will-be-escorted "You will then be escorted to the proper location."
 :outcome-panel/results-require-attention "Based on your results you have symptoms that require medical attention."
 :outcome-panel/please-call-to-discuss "Please call your primary care provider or the nearest healthcare provider and discuss these symptoms."
 :outcome-panel/please-share-screening "Please share your screening results below."
 :outcome-panel/questions "Questions"
 :outcome-panel/answers "Your Answers"
 :outcome-panel/assessment-results "Assessment Results:"

 ;; PANEL_C300_COMORBIDITIES
 :not-limited-immunosuppressant-meds "not limited to prednisone, biologics, and antirejection meds"

 ;; Questions
 :option/i-feel-fine "I feel fine"
 :option/i-feel-sick "I feel sick"
 :option/i-feel-very-sick "I feel very sick / Considering hospitalization"
 :option/temp-above "Temperature above 100.4 °F"
 :option/temp-below "Temperature below 96.8 °F"
 :option/normal-temp "Normal temperature / I don't know"
 :option/cough "Cough"
 :option/i-am-breathing-very-fast "I am breathing very fast"
 :option/high-blood-pressure "High blood pressure"
 :option/cancer-diagnosis "Cancer diagnosis"
 :option/taking-immunosuppressant-medication "Taking immunosuppressant medication *"
 :option/kidney-failure-on-dialysis "Kidney failure on dialysis"
 :option/other-chronic-health-condition "Other Chronic health condition"
 :factor-question/feeling-sick-today "Are you feeling sick today?"
 :factor-question/been-in-contact-with-covid19 "Have you been in contact with someone with COVID-19?"
 :factor-question/recently-traveled "Have you recently traveled to a location with known COVID-19 outbreak? *"
 :factor-question/have-been-exposed "Have you been exposed to COVID-19?"
 :factor-question/what-is-your-temp "What is your temperature?"
 :factor-question/do-you-have-the-following "Do you have any of the following?"
 :factor-question/lower-respiratory-distress "Do you have any lower respiratory distress?"
 :factor-question/what-is-your-age "What is your age? (optional)"

 ;; Result Table
 :resultsTableLabel/comorbidities "Comorbidities"
 :resultsTableLabel/age-risk "Age Risk"}
