{
 :infected-locations "Any of the following locations: China, Italy, Iran, South Korea, Japan, Hong Kong, or any areas within the United States with a known COVID-19 outbreak"

 ;; Header
 :header/from "desde"

 ;; Footer
 :footer/restart-screening "Reiniciar evaluación"
 :footer/about "Sobre este proyecto"
 :footer/hospital-signup "Hospital Signup"
 :footer/check-previous-result "Check a Previous Result"
 :footer/legal-disclaimer "Descargo de responsabilidades"
 :footer/disclaimer "Esta herramienta se ofrece para su conveniencia y se actualiza de la mejor manera posible para que coincida con las pautas de los Centros para el Control y la Prevención de Enfermedades (CDC) para la detección del virus COVID-19. Este aviso no tiene por objeto reemplazar el consejo médico de un proveedor de atención médica. "
 :footer/life-threatening-emergency "Si usted tiene una emergencia con riesgo de vida, por favor llame al 9-1-1. "
 :footer/please-review-disclaimer "Le recomendamos revisar la Política de Privacidad y la Política de Uso en su totalidad."

 ;; Modal
 :modal/enter-your-zip-code "Ingrese su Codigo Postal:"
 :ok "OK"
 :cancel "Cancelar"

 ;; About Page
 :about/what-is-this "Hemos creado nuestra herramienta gratuita de detección de COVID-19 fuera del público necesidad de acuerdo con las directrices de los CDC y la OMS para ayudar al público a completar una caja fuerte, autoevaluación integral en el hogar de COVID-19. Nuestro objetivo es ayudar a disminuir el potencial exposición a los trabajadores de la salud, evitar el hacinamiento en las salas de emergencias y permitir una eficiencia comunicación con tu comunidad."
 :about/website "sitio web"
 :about/who-are-we-part-one "Luminare se especializa en digitalización de protocolos específicos de salud y vías de flujo de trabajo complejas para que los pacientes reciban una atención adecuada y oportuna. Desde sepsis hasta COVID-19, nuestro equipo puede aprovechar los datos y cambiar los flujos de trabajo médicos y listas de verificación en herramientas procesables para ayudar a brindar la mejor atención a los pacientes. Visita nuestro "
 :about/who-are-we-part-two " Para aprender más sobre nosotros."
 :about/title "Sobre el proyecto CheckforCorona.com"
 :about/subtitle-what-is-this "¿Que es esto?"
 :about/subtitle-who-are-we "¿Quienes somos nosotros?"

 ;; Check Result Page
 :check-result/title "Check A Previous Result"
 :check-result/form-label "Please enter your Screening ID:"
 :check-result/form-submit-button "Submit"

 ;; Landing Page
 :landing-page/title "Bienvenido a la herramienta de autoevaluación de enfermedad de coronavirus (COVID-19) del Condado de Harris/Houston"
 :landing-page/who-should-be-tested "¿Quiénes deben hacerse la prueba para determinar si tienen el virus COVID-19?"
 :landing-page/people-with-fever "Personas con fiebre* superior a 100.4 °F (38 °C) y síntomas respiratorios que:"
 :landing-page/have-had-close-contact "Han tenido contacto cercano** con una persona que obtuvo un resultado positivo en la prueba de COVID-19"
 :landing-page/have-other-conditions "Tienen otras condiciones médicas (diabetes, enfermedad pulmonar, enfermedad cardíaca o embarazo)"
 :landing-page/are-older "Son mayores de 60 años"
 :landing-page/nursing-homes "Son residentes de hogares para personas de la tercera edad"
 :landing-page/part-of-investigation "Son parte de una investigación de un grupo o un brote"
 :landing-page/healthcare-worker-first-responder "Son profesionales de atención de la salud o socorristas."
 :landing-page/who-does-not-test "¿Quiénes no necesitan hacerse la prueba de COVID-19?"
 :landing-page/people-without-symptoms "Personas sin síntomas relacionados con la enfermedad de coronavirus"
 :landing-page/anyone-who-is-sick "Las personas enfermas deben quedarse en casa. "
 :landing-page/to-protect-yourself [:<> "Para protegerse, lávese a menudo las manos con agua y jabón. Si tose o estornuda, cúbrase la cara con un pañuelo desechable o con el pliegue del codo. Mantenga una distancia de unos 6 pies con las demás personas. Esta es simplemente una herramienta de evaluación y **no reemplaza el consejo** de un proveedor de atención médica."]
 :landing-page/if-emergency-call "Si usted tiene una emergencia con riesgo de vida, por favor llame al 9-1-1"
 :landing-page/if-other-health-concerns "Si tiene otros problemas de salud, llame a su proveedor de atención médica. Los residentes sin acceso a atención médica pueden llamar a la línea de orientación para sus preguntas relacionadas con el virus COVID-19 al 713-634-1110 de 9 a.m. a 7 p.m., los 7 días de la semana. Para obtener más información sobre el virus COVID-19, visite "
 :or " o "
 :landing-page/older-than-65 "* Personas mayores de 65 años con temperatura superior a 99.6 °F"
 :landing-page/close-contact-defined "** Se define como contacto cercano:"
 :landing-page/being-within-6-feet "a) estar a menos de 6 pies (2 metros) de una persona portadora del virus COVID-19 por un período prolongado; el contacto cercano puede producirse al cuidar, vivir, visitar o compartir un área o sala de espera de atención médica con una persona portadora del virus COVID-19"
 :landing-page/footnote-or "– o bien –"
 :landing-page/having-direct-contact "b) tener contacto directo con secreciones infecciosas de una persona portadora del virus COVID-19 (por ejemplo, si una persona infectada le tose encima) "
 :landing-page/this-tool-will-help "Esta herramienta le ayudará a determinar si necesita una evaluación adicional o si es necesario que se haga la prueba de COVID-19."
 :landing-page/please-help-answer "Ayúdenos respondiendo algunas preguntas (o respóndalas por otra persona)."
 :landing-page/begin-self-assessment-button "Presione para empezar la autoevaluación"

 ;; Location Panel
 :location-panel/share-location-for-epidemiology "¿Desea compartir su ubicación geográfica como dato de epidemiología?"
 :location-panel/requesting-location-spinner "Solicitud de ubicación …"
 :location-panel/enter-zip-code "Ingrese su código postal"
 :location-panel/click-to-use-location "Haga clic para permitirnos usar la ubicación"
 :location-panel/opt-out-of-location-sharing "Quiero optar por no compartir ubicación"
 :location-panel/epidemiology-is-helpful "Saber cuándo y dónde ocurren los brotes resulta increíblemente útil para las autoridades sanitarias locales, pues les permite rastrear la enfermedad y aconsejar respuestas a la comunidad."
 :location-panel/your-location-is-protected [:<> "Utilizaremos su ubicación geográfica **únicamente** con fines epidemiológicos. No almacenaremos ninguna información protegida sobre la salud (PHI)."]

 ;; Outcome Panels Harris
 :outcome-panel/covid-self-assessment-results "RESULTADOS DE LA AUTOEVALUACIÓN PARA LA ENFERMEDAD POR CORONAVIRUS (COVID-19)"
 :outcome-panel/if-experiencing-call "Si usted tiene una emergencia con riesgo de vida, por favor llame al "
 :outcome-panel/your-screening-id "Su identificación de detección es: "
 :outcome-panel/health-recommendations-title "Recomendaciones para la salud"
 :outcome-panel/at-this-time-we-recommend "En este momento, le recomendamos hacer lo siguiente: "
 :outcome-panel/stay-home-and-quarantine "Quedarse en su casa durante 14 días y respetar la cuarentena. No ir al trabajo, a clases, a eventos deportivos u otras reuniones sociales o religiosas durante todo ese tiempo. "
 :outcome-panel/limit-contact-with-people "Limitar el contacto con otras personas. Esto incluye aislarse lo más posible de otras personas que vivan en su residencia."
 :outcome-panel/wash-your-hands-with-soap "Lavarse a menudo las manos con agua y jabón o usar desinfectante para manos a base de alcohol, especialmente después de toser, estornudar o tirar un pañuelo desechable usado a la basura."
 :outcome-panel/avoid-touching-face "Evite tocarse los ojos, la nariz y la boca con las manos sin lavar."
 :outcome-panel/cover-coughs-and-sneezes "Al toser o estornudar, cubrirse con el antebrazo o con un pañuelo. Nunca tosa en dirección a otra persona."
 :outcome-panel/do-not-share "No comparta vasos, toallas, cubiertos, ropa de cama o cualquier otro artículo hasta que finalice la cuarentena."
 :outcome-panel/keep-surroundings-clean "Mantenga limpio el lugar donde esté. Limpie con frecuencia las superficies que toca y comparte con otras personas, como picaportes de puertas, teléfonos y superficies del baño (o cualquier otra objeto sobre la que estornude o tosa) con un desinfectante doméstico estándar, como toallitas Clorox. "
 :outcome-panel/if-you-are-sick-stay-home "Si está enfermo, quédese en su casa, alejado de los demás."
 :outcome-panel/remember-to-avoid-gatherings "Recuerde evitar las reuniones, ya que pueden resultar en una mayor propagación en nuestra comunidad."
 :outcome-panel/stay-informed "Mantenerse informado. Las recomendaciones de las autoridades sanitarias se actualizan frecuentemente."
 :outcome-panel/visit "Visite "
 :outcome-panel/for-frequent-updates " donde encontrará actualizaciones frecuentes."
 :outcome-panel/feeling-stressed-title "¿Se siente estresado o ansioso?"
 :outcome-panel/fear-and-anxiety "El miedo y la ansiedad por una enfermedad pueden ser abrumadores y causar emociones fuertes en adultos y niños. "
 :outcome-panel/people-with-preexisting-mental "Las personas con condiciones de salud mental preexistentes deben continuar sus planes de tratamiento, mantenerse en contacto con sus proveedores de atención médica y estar atentas a la aparición de cualquier síntoma nuevo."
 :outcome-panel/stay-connected-with-friends "Manténgase comunicado con amigos y familiares por teléfono, videollamadas, correo electrónico, etc., especialmente las personas de mayor edad."
 :outcome-panel/use-other-ways "Use otras formas de relajarse, como hacer ejercicio, estirarse y meditar."
 :outcome-panel/call-healthcare-provider "Si sus conductas a causa del estrés interfieren con sus actividades diarias, llame a su proveedor de atención médica."
 :outcome-panel/for-additional-support "Para recibir apoyo adicional comuníquese con:"
 :outcome-panel/harris-center-mental-support "Línea de Apoyo de Harris Center for Mental Health para COVID-19: "
 :outcome-panel/disaster-distress-helpline "Línea Directa de Urgencias por Desastre: "
 :outcome-panel/r100-wash-hands "Lávese las manos frecuentemente con agua y jabón durante al menos 20 segundos o use un desinfectante para manos a base de alcohol si no puede lavarse las manos, especialmente después de toser, estornudar o tirar un pañuelo usado a la basura. "
 :outcome-panel/r100-avoid-touching-face "Evite tocarse los ojos, la nariz y la boca con las manos sin lavar."
 :outcome-panel/r100-cover-cough "Al toser o estornudar, cubrirse con el antebrazo o con un pañuelo. Nunca tosa en dirección a otra persona."
 :outcome-panel/r100-avoid-close-contact "Evite el contacto cercano con personas enfermas, en particular si usted tiene un mayor riesgo de contagiarse el virus COVID-19."
 :outcome-panel/r100-get-plenty-of-rest "Descanse todo lo necesario, beba mucho líquido, coma alimentos saludables y controle su nivel de estrés para reforzar su sistema inmunológico."
 :outcome-panel/r100-keep-surroundings-clean "Mantenga limpio el lugar donde esté. Limpie con frecuencia las superficies que toca y comparte con otras personas, como picaportes de puertas, teléfonos y superficies del baño (o cualquier otra objeto sobre la que estornude o tosa) con un desinfectante doméstico estándar, como toallitas Clorox. "
 :outcome-panel/r100-if-you-are-sick "Si está enfermo, quédese en su casa, alejado de los demás."
 :outcome-panel/r100-stay-informed "Manténgase informado. Las recomendaciones de las autoridades sanitarias se actualizan frecuentemente."
 :outcome-panel/contact-local-health-dept "Contacte su Departamento de Salud Local para evaluación adicional."

 ;; r100
 :outcome-panel/based-on-your-results-r100 [:<> "De acuerdo con sus resultados, en este momento usted **NO** necesita más evaluaciones o pruebas."]
 :outcome-panel/please-feel-free-to-repeat "No dude en repetir esta evaluación en 24 horas o incluso antes si presenta algún cambio en su salud."
 :outcome-panel/please-follow-guidelines "Continúe siguiendo las recomendaciones del Departamento de Salud de su localidad. Si tiene alguna inquietud o pregunta sobre el cuidado de la salud, comuníquese con el proveedor de atención médica de su localidad."
 :outcome-panel/based-on-your-results [:<> "Based on your results you do **NOT** need to go to the ER"]

 ;; r300
 :outcome-panel/based-on-results-you-have [:<> "De acuerdo con sus resultados, en este momento usted **NO** tiene síntomas relacionados con el virus COVID-19. Le recomendamos que se quede en casa y se comunique con el Departamento de Salud de su localidad. "]

 ;; r400
 :outcome-panel/based-on-answers-higher-risk "Según sus respuestas, usted tiene un mayor riesgo de contraer la enfermedad por Coronavirus (COVID-19). "
 :outcome-panel/contact-nurse-triage "Comuníquese con el Centro de Llamadas de orientación atendido por enfermeras, "
 :outcome-panel/for-further-evaluation " para una evaluación adicional."

 ;; disclaimer
 :outcome-panel/disclaimer-title "Descargo de responsabilidad:"
 :outcome-panel/not-a-diagnosis " Este no es un diagnóstico médico."

 ;; Harris factors
 :option/yes "Si"
 :option/no "No"
 :option/unknown "No sé"
 :question/africa "África"
 :question/asia "Asia"
 :question/australia "Australia"
 :question/europe "Europa"
 :question/south-america "América del Sur"
 :question/no-travel "No he viajado"
 :option/feeling-sick "Me siento enfermo"
 :option/feeling-fine "Me siento bien"
 :option/temp-above-104 "Temperatura superior a 100.4 °F (38 °C)"
 :option/older-than-65-and-temp-above-99 "Mayor de 65 años y temperatura superior a 99.6 °F (37.5 °C)"
 :option/i-feel-feverish "Me siento afiebrado"
 :option/i-dont-know "No sé"
 :option/normal "Normal"
 :option/cough-dry "Tos seca (no productiva)"
 :option/cough-wet "Tos húmeda (productiva)"
 :option/shortness-of-breath "Dificultad respiratoria"
 :option/wheezing "Sibilancia"
 :option/none-of-the-above "Ninguno de los anteriores"
 :option/headache "Dolor de cabeza"
 :option/runny-nose "Nariz que gotea"
 :option/itchy-eyes "Picazón de ojos"
 :option/watery-eyes "Lagrimeo de ojos"
 :option/sneezing "Estornudos"
 :option/hypertension "Presión arterial alta/hipertensión"
 :option/heart-disease "Enfermedad cardíaca"
 :option/lung-disease "Enfermedad pulmonar"
 :option/diabetes "Diabetes"
 :option/immunosuppressed-by-meds "Inmunosuprimido por medicación o VIH"
 :option/nursing-home-resident "Son residentes de hogares para personas de la tercera edad o de atención de enfermedades crónicas"
 :option/pregnant "Embarazada o posparto, dentro de las 2 semanas del parto"
 :option/younger-than-20 "Menos de 20 años"
 :option/over-80 "80 o más"
 :factor-question/in-person-close-contact "1. ¿Ha tenido contacto cercano con una persona diagnosticada con enfermedad de coronavirus (COVID-19)?"
 :factor-question/recent-international-travel "2. ¿Ha viajado internacionalmente a alguno de los siguientes destinos en los últimos 14 días?"
 :factor-question/how-are-you-feeling "3. ¿Cómo se siente hoy?"
 :factor-question/what-is-your-temp-harris "4. ¿Cuál es su temperatura?"
 :factor-question/any-of-the-following "5. ¿Tiene alguno de estos síntomas?"
 :factor-question/allergies "6. ¿Tiene alguno de estos síntomas?"
 :factor-question/do-any-of-the-following-apply "7. ¿Tiene alguna de las siguientes condiciones médicas?"
 :factor-question/what-is-your-age-harris "8. ¿Qué edad tiene?"
 :factor-question/first-responder-or-healthcare "9. ¿Es socorrista o profesional de cuidado de la salud?"

 ;; Result Bars
 :result-bar/click-to-proceed "Presione para Continuar con la Evaluación"
 :result-bar/please-complete-all-fields "Por favor complete todas las preguntas"
 :result-bar/possible-infection "Posible Infección"
 :result-bar/screened-negative "Proyectado negativo"

 ;; everything below this point is not used in the Harris Instance as far as I can tell - G. Klein, 24 Mar 2020
 ;; G. Klein, 24 Mar 2020

 ;; outcome panels
 :outcome-panel/you-have-screened "You have screened "
 :outcome-panel/on-the " on the "
 :outcome-panel/strong-covid19-assessment "COVID-19 Assessment"
 :outcome-panel/but-you-do-not ", but you do not have concerning symptoms at this time."
 :outcome-panel/minimal-symptoms " and have minimal symptoms."
 :outcome-panel/strong-negative "NEGATIVE"
 :outcome-panel/strong-positive "POSITIVE"
 :outcome-panel/symptoms-should-be-evaluated " and have symptoms that should be evaluated by a healthcare professional."
 :outcome-panel/have-concerning-medical-symptoms ", but have concerning medical symptoms."
 :outcome-panel/not-in-harris "Your location or zip code does not belong to Harris County. Please contact your local health department."
 :outcome-panel/call-arkansas-dept-of-health "Call the Arkansas Department of Health at "
 :outcome-panel/during-business-hours " during business hours "
 :outcome-panel/strong-if "IF"
 :outcome-panel/you-have-indicated " you have indicated that you have:"
 :outcome-panel/known-exposure "A known exposure to COVID-19"
 :outcome-panel/have-travelled-from "Have travelled from a place with a known COVID-19 outbreak."
 :outcome-panel/call "Call "
 :outcome-panel/white-county-medical " for White County Medical Center Emergency Room, Searcy"
 :outcome-panel/harris-medical-center " for Harris Medical Center Emergency Room, Newport"
 :outcome-panel/assessment-results "Assessment Results:"
 :outcome-panel/results-isolation-testing "Based on your results you need a medical evaluation that needs to be done in a specific type of isolation room."
 :outcome-panel/outpatient-clinics-cant "Outpatient clinics are not not properly equiped to do your examination."
 :outcome-panel/please-call-er-prior "Please call the ER prior to presentation."
 :outcome-panel/before-entering-facility "Before entering the facility, we will bring you a mask."
 :outcome-panel/you-will-be-escorted "You will then be escorted to the proper location."
 :outcome-panel/results-require-attention "Based on your results you have symptoms that require medical attention."
 :outcome-panel/please-call-to-discuss "Please call your primary care provider or the nearest healthcare provider and discuss these symptoms."
 :outcome-panel/please-share-screening "Please share your screening results below."
 :outcome-panel/questions "Questions"
 :outcome-panel/answers "Your Answers"
 :outcome-panel/please-call-pcp "Please call your primary care provider if you continue to have health concerns."
 :outcome-panel/need-further-evaluation-or-testing " need further evaluation or testing at this time."
 :outcome-panel/please-repeat-4-hours "Please repeat this assessment in 4 hours or if you feel worse."
 :outcome-panel/implement-home-care "You may implement a home care plan if:"
 :outcome-panel/feel-well-home-care "You feel well enough to receive care at home."
 :outcome-panel/appropriate-caregivers "Appropriate caregivers are available at home."
 :outcome-panel/seperate-bedroom "There is a separate bedroom where you can recover without sharing immediate space with others."
 :outcome-panel/resources-for-food-and-water "Resources for access to food and other necessities are available."
 :outcome-panel/you-have-access-ppe "You and other household members have access to appropriate, recommended personal protective equipment (at a minimum, gloves and facemask) and are capable of adhering to precautions recommended as part of home care or isolation (e.g., respiratory hygiene and cough etiquette, hand hygiene)"
 :outcome-panel/you-should-discuss-plan "You should discuss your plan with your Primary care provider or any healthcare provider if there are household members who may be at increased risk of complications from COVID-19 infection (.e.g., people >65 years old, young children, pregnant women, people who are immunocompromised or who have chronic heart, lung, or kidney conditions)."
 :outcome-panel/call-pcp-for-test "Please call your primary care provider to be tested for COVID-19."
 :outcome-panel/r400h-click-link "Please click on this link and fill out the form to schedule COVID-19 testing."
 :outcome-panel/please-contact-local-hd "Please contact your local health department."
 :outcome-panel/call-local-health-dept "Call your local health department if you have either a known exposure to Coronavirus disease (COVID-19) or have traveled from a place with a known COVID-19 outbreak."

 ;; PANEL_C300_COMORBIDITIES
 :not-limited-immunosuppressant-meds "not limited to prednisone, biologics, and antirejection meds"

 ;; Questions
 :option/i-feel-fine "I feel fine"
 :option/i-feel-sick "I feel sick"
 :option/i-feel-very-sick "I feel very sick / Considering hospitalization"
 :option/temp-above "Temperature above 100.4 °F"
 :option/temp-below "Temperature below 96.8 °F"
 :option/normal-temp "Normal temperature / I don't know"
 :option/cough "Cough"
 :option/i-am-breathing-very-fast "I am breathing very fast"
 :option/high-blood-pressure "High blood pressure"
 :option/cancer-diagnosis "Cancer diagnosis"
 :option/taking-immunosuppressant-medication "Taking immunosuppressant medication *"
 :option/kidney-failure-on-dialysis "Kidney failure on dialysis"
 :option/other-chronic-health-condition "Other Chronic health condition"
 :factor-question/feeling-sick-today "Are you feeling sick today?"
 :factor-question/been-in-contact-with-covid19 "Have you been in contact with someone with COVID-19?"
 :factor-question/recently-traveled "Have you recently traveled to a location with known COVID-19 outbreak? *"
 :factor-question/have-been-exposed "Have you been exposed to COVID-19?"
 :factor-question/what-is-your-temp "What is your temperature?"
 :factor-question/do-you-have-the-following "Do you have any of the following?"
 :factor-question/lower-respiratory-distress "Do you have any lower respiratory distress?"
 :factor-question/what-is-your-age "What is your age? (optional)"

 ;; Result Table
 :resultsTableLabel/comorbidities "Comorbidities"
 :resultsTableLabel/age-risk "Age Risk"}
