{
 ;; Misc
 :infected-locations "任何以下地方：中国，意大利，伊朗，韩国，日本，香港，以及任何美国国内已知的大规模冠状病毒发病的地方 "

 ;; Header
 :header/from "从"

 ;; Footer
 :footer/restart-screening "重新筛查"
 :footer/about "关于我们"
 :footer/hospital-signup "注册（医院）"
 :footer/check-previous-result "查看筛查结果"
 :footer/legal-disclaimer "司法声明"
 :footer/disclaimer "此工具是评估流程的一部分，用于帮助人们确定是否需要进一步评估，或者是否需要接受冠状病毒的测试。我们会尽全力根据美国疾病控制与预防中心的检测建议来更新。这并不是要与有执照的独立执业医师的医学意见相抵触或替代。"
 :footer/life-threatening-emergency "如果您遇到危及生命的紧急情况，请拨打 911。"
 :footer/please-review-disclaimer "请查看完整的隐私政策和使用政策。"

 ;; Modal
 :modal/enter-your-zip-code "请输入您的邮编:"
 :ok "确认"
 :cancel "取消"

 ;; About Page
 :about/what-is-this "处于公众需要，我们按照疾病控制与预防中心和世界卫生组织的建议，创建了这个免费的COVID-19病毒的筛查工具，用于帮助公众安全面对COVID-19。我们的目标是帮助减少医护人员的潜在暴露，避免急诊室的过于拥挤，并允许您和您的社区进行有效的沟通。"
 :about/website "网站"
 :about/who-are-we-part-one "Luminare致力于从事医疗保健特定方案和复杂工作流程途径的数字化，使患者能够及时获得适当的护理。从败血症到COVID-19，我们的团队可以利用数据，将医疗工作流程转换为可行的工具，从而为患者提供最佳护理。访问我们的 "
 :about/who-are-we-part-two " 来获取更多信息."
 :about/title "关于冠状病毒COVID-19的筛查项目"
 :about/subtitle-what-is-this "这是什么？"
 :about/subtitle-who-are-we "我们是谁？"

 ;; Check Result Page
 :check-result/title "查询之前的筛查结果"
 :check-result/form-label "请输入您的筛查ID:"
 :check-result/form-submit-button "提交"

 ;; Landing Page
 :harris-county.landing-page/title "欢迎使用 Harris County(海瑞斯郡)/ Houston(修士敦)冠状病毒病 (COVID-19) 自我评估工具"
 ;; FIXME: :fort-bend-county.landing-page/title
 :landing-page/who-should-be-tested "谁应该得到冠状病毒病 (COVID-19) 测试?"
 :landing-page/people-with-fever "体温在* 100.4°F(38°C) 以上并且有呼吸道疾病症状并符合以下条件的人:"
 :landing-page/have-had-close-contact "曾与冠状病毒病 (COVID-19) 测试结果为阳性的患者有过密切接触"
 :landing-page/have-other-conditions "有其他健康问题(糖尿病、肺病、心脏病及怀孕)"
 :landing-page/are-older "年龄为 60 或以上"
 :landing-page/nursing-homes "居住在养老院"
 :landing-page/part-of-investigation "属于病毒聚集或爆发区调查的一部分"
 :landing-page/healthcare-worker-first-responder "是医护工作人员/急救人员。"
 :landing-page/who-does-not-test "哪些人无需进行冠状病毒病 (COVID-19) 测试?"
 :landing-page/people-without-symptoms "没有冠状病毒相关症状的人"
 :landing-page/anyone-who-is-sick "Anyone who is sick needs to stay home. "
 :landing-page/to-protect-yourself [:<> "任何人生病了都应该留在家里。为了您保护好自己，请您经常用肥皂和水洗手，打喷嚏 时用纸巾或臂弯衣袖内侧遮住，与他人保持约 6 英尺的距离。这只是一个评估工具，并不 能取代医疗服务提供者的医疗建议。"]
 :landing-page/if-emergency-call "如果您遇到危及生命的紧急情况，请拨打 911"
 :harris-county.landing-page/if-other-health-concerns "如果您有其他健康问题，请致电您的医疗服务提供者。无法获得医疗服务的居民可以拨打 热线 713-634-1110 询问与冠状病毒病 (COVID-19) 相关的问题，服务时间为每周 7 天每天 上午 9 点至晚上 7 点。要了解有关冠状病毒病 (COVID-19) 的更多信息，请访问"
 ;; FIXME: :fort-bend-county.landing-page/if-other-health-concerns
 :or " 或 "
 :landing-page/older-than-65 "*65 以上并且体温高于 99.6F"
 :landing-page/close-contact-defined "**密切接触的定义为:"
 :landing-page/being-within-6-feet "a)  长时间和冠状病毒病 (COVID-19) 患者距离约 6 英尺(2 米)之内;照顾冠状病毒病 (COVID-19) 患者或者与其一起生 活，陪同看病或在同一个医护室等候区或房间内被定义为密切接触。"
 :landing-page/footnote-or "– 或 –"
 :landing-page/having-direct-contact "直接接触冠状病毒病 (COVID-19) 患者具备传染性的分泌物(例如暴露于患者的咳嗽) "
 :landing-page/this-tool-will-help "这个工具将会帮助您确定是否需要进一步评估，和接受冠状病毒的测试。"
 :landing-page/please-help-answer "请帮助我们回答几个问题（或者代替他人回答）"
 :landing-page/begin-self-assessment-button "点击开始自我评估"

 ;; Location Panel
 :location-panel/share-location-for-epidemiology "分享您所在传染病曼延地点?"
 :location-panel/requesting-location-spinner  "请求地点中 …"
 :location-panel/enter-zip-code "输入邮编"
 :location-panel/click-to-use-location "点击使用地址"
 :location-panel/opt-out-of-location-sharing "我选择不分享我的地址信息"
 :location-panel/epidemiology-is-helpful "了解爆发是何时，何地发生的，对于当地卫生部门追踪病情和做出社区应对建议非常有帮助。"
 :location-panel/your-location-is-protected [:<> "我们 **只会** 将您的地址用于传染病追踪用途. 我们不储存受保护的健康信息。"]
 ; FIXME :location-panel/unable-to-use-location "Unable to collect your location. Please enter your ZIP code."
 ; FIXME :location-panel/please-enter-valid-zip "Please enter a valid ZIP code."

 ;; Outcome Panels Harris
 :outcome-panel/covid-self-assessment-results "冠状病毒病 (COVID-19) 自我评估结果"
 :outcome-panel/if-experiencing-call "如果您遇到危及生命的紧急情况，请拨打 "
 :outcome-panel/your-screening-id "您的筛查ID是: "
 :outcome-panel/no-more-test-kits "遗憾的是我们今天的测试盒已经用完。请从明天早上8点开始重试并重复自我评估。如果您有危急生命的紧急情况，请拨打911。否则，请留在家里并确保采取谨慎的保护措施（洗手、挡住咳嗽/喷嚏、消毒共用物体的表面并保持社交疏离）。"
 :outcome-panel/health-recommendations-title "健康建议"
 :outcome-panel/at-this-time-we-recommend "目前我们建议您做以下事情:"
 :outcome-panel/stay-home-and-quarantine "在家待14天并自我隔离。这段时间不要去上班、上课、参加体育活动或其他社交或宗教聚会。"
 :outcome-panel/limit-contact-with-people "限制与其他人的接触。这包括尽可能让自己和您同住的人隔离。"
 :outcome-panel/wash-your-hands-with-soap "经常用肥皂和水洗手，或使用含酒精的洗手液，特别是在咳嗽、打喷嚏或把用过的纸巾扔进垃圾后一定要洗手。"
 :outcome-panel/avoid-touching-face "没洗手不要用手接触自己的眼睛、鼻子和嘴巴。"
 :outcome-panel/cover-coughs-and-sneezes "用臂弯衣袖遮住咳嗽和喷嚏。不要对着他人咳嗽。"
 :outcome-panel/do-not-share "在您不再被要求自我隔离之前，不要与他人共用水杯、毛巾、餐具、寝具或任何其他物品。"
 :outcome-panel/keep-surroundings-clean "保持周围环境清洁。用标准的家用消毒剂，如Clorox(高乐氏)湿巾，清洁您与他人共用的经常接触的表面，比如，门把手、电话和浴室表面(或可能暴露于您喷嚏或咳嗽的任何物体)。"
 :outcome-panel/if-you-are-sick-stay-home "如果您生病了，请待在家里，不要接触人。"
 :outcome-panel/remember-to-avoid-gatherings "记住要避免聚会，因为聚会将导致病毒在我们的社区传播。"
 :outcome-panel/stay-informed "了解最新消息。值得信赖的卫生当局的指导信息经常更新。"
 :outcome-panel/visit "访问 "
 :outcome-panel/for-frequent-updates "了解频繁更新的信息。"
 :outcome-panel/feeling-stressed-title "感到有压力或焦虑?"
 :outcome-panel/fear-and-anxiety "对疾病的恐惧和焦虑可以压倒一切，并在成人和儿童中引发强烈的情绪波动。"
 :outcome-panel/people-with-preexisting-mental "有心理健康问题的人应该继续治疗方案，与他们的医疗服务提供者保持联系，并监测任何新的症状。"
 :outcome-panel/stay-connected-with-friends "通过电话、视频电话、电子邮件等与朋友和家人保持联系，特别是老年人。"
 :outcome-panel/use-other-ways "用其他方式来放松自己，比如运动、舒展和冥想。"
 :outcome-panel/call-healthcare-provider "如果压力反应干扰您的日常生活，电话联系您的医疗提供方。"
 :outcome-panel/for-additional-support "要获得额外的支持，请联系:"
 :outcome-panel/harris-center-mental-support "Harris中心冠状病毒病(COVID-19)心理健康支持热线:"
 :outcome-panel/disaster-distress-helpline "或灾害帮助热线:"
 :outcome-panel/r100-wash-hands "经常用肥皂和水洗手，洗手时间至少为20秒，或在没有水和肥皂的情况下使用含酒精的洗手液，特别是在咳嗽、打喷嚏或把用过的纸巾扔进垃圾后。"
 :outcome-panel/r100-avoid-touching-face "没洗手不要用手接触自己的眼睛、鼻子和嘴巴。"
 :outcome-panel/r100-cover-cough "用臂弯衣袖遮住咳嗽和喷嚏。不要对着他人咳嗽。"
 :outcome-panel/r100-avoid-close-contact "避免密切接触生病的人员，尤其在您属于冠状病毒 (COVID-19) 高风险易感人群的情况下更要如此。"
 :outcome-panel/r100-get-plenty-of-rest "充分休息、多喝水、吃健康的食物，控制自身的压力来增强免疫力。"
 :outcome-panel/r100-keep-surroundings-clean "保持周围环境清洁。用标准的家用消毒剂，如Clorox(高乐氏)湿巾，清洁您与他人共用的经常接触的表面，如门把手、电话和浴室表面(或可能暴露于您喷嚏或咳嗽的任何物体)。"
 :outcome-panel/r100-if-you-are-sick "如果您生病了，请待在家里，不要接触人"
 :outcome-panel/r100-stay-informed "了解最新消息。您可以信赖的卫生当局的指导信息经常更新。"
 :outcome-panel/contact-local-health-dept "请联系您的当地卫生部门进行进一步检测。"

 ;; r100
 :outcome-panel/based-on-your-results-r100 [:<> "根据您的结果，您目前不需要进一步评估或者是否需要冠状病毒病 (COVID-19)测试。"]
 :outcome-panel/please-feel-free-to-repeat "如果您的健康状况有任何变化，请在24小时内或更短的时间内重复此自我评估。"
 :outcome-panel/please-follow-guidelines "请继续遵循当地卫生部门的指导方针，并与当地医疗服务提供者联系，了解您后续可能有的任何医疗问题。"
 :outcome-panel/based-on-your-results [:<> "根据您的检测结果，您**不需要**去急诊室。"]

 ;; r300
 :outcome-panel/based-on-results-you-have [:<> "根据您的结果，您目前没有感染冠状病毒病 (COVID-19) 的症状。我们建议您留在家里并联系您当地的卫生部门。"]

 ;; r400
 :outcome-panel/based-on-answers-higher-risk "根据您的回答，您可能有更高的风险患有冠状病毒病(COVID-19) 。 "
 :outcome-panel/contact-nurse-triage "请联系冠状病毒病 (COVID-19) 护士分诊呼叫中心，电话号码为"
 :outcome-panel/for-further-evaluation "，以便进一步评估您的情况。"

 ;; disclaimer
 :outcome-panel/disclaimer-title "声明:"
 :outcome-panel/not-a-diagnosis " 这不是医学诊断。"

 ;; Harris factors
 :option/yes "是"
 :option/no "否"
 :option/unknown "不知道"
 :question/africa "非洲"
 :question/asia "亚洲"
 :question/australia "澳大利亚"
 :question/europe "欧洲"
 :question/south-america "南美洲"
 :question/no-travel "没旅行过"
 :option/feeling-sick "我觉得自己病了"
 :option/feeling-fine "我感觉良好"
 :option/temp-above-104 "体温高于 100.4 °F (38 °C)"
 :option/older-than-65-and-temp-above-99 "年龄大于 65 岁并且体温高于 99.6 °F (37.5 °C)"
 :option/i-feel-feverish "我觉得自己发烧了"
 :option/i-dont-know "我不知道"
 :option/normal "正常"
 :option/cough-dry "咳嗽 - 干咳(无痰)"
 :option/cough-wet "咳嗽 - 湿咳(有痰)"
 :option/shortness-of-breath "呼吸急促"
 :option/wheezing "喘息气短"
 :option/none-of-the-above "以上皆没有"
 :option/headache "头疼"
 :option/runny-nose "流鼻涕"
 :option/itchy-eyes "眼睛痒"
 :option/watery-eyes "眼睛流泪"
 :option/sneezing "打喷嚏"
 :option/hypertension "高血压"
 :option/heart-disease "心脏病"
 :option/lung-disease "肺病"
 :option/diabetes "糖尿病"
 :option/immunosuppressed-by-meds "药物抑制免疫力或HIV"
 :option/nursing-home-resident "住在养老院或长期护理设施"
 :option/pregnant "怀孕或者产后(婴儿于两周前或更短的时间内出生)"
 :option/younger-than-20 "20岁以下"
 :option/over-80 "80岁及以上"
 :factor-question/in-person-close-contact "1. 您是否曾经面对面密切接触了被确诊患有冠状病毒 (COVID-19) 的患者?"
 :factor-question/recent-international-travel "2. 您是否曾经在最近 14 天内去过以下地方?"
 :factor-question/how-are-you-feeling "3. 您今天感觉如何?"
 :factor-question/what-is-your-temp-harris "4. 您的体温是多少度?"
 :factor-question/any-of-the-following "5. 您是否有下列症状?"
 :factor-question/allergies "6. 您是否有下列症状?"
 :factor-question/do-any-of-the-following-apply "7. 您是否有以下疾病？"
 :factor-question/what-is-your-age-harris "8. 您的年龄是?"
 :factor-question/first-responder-or-healthcare "9. 您是否是急救人员或医护工作者?"

 ;; Result Bars
 :result-bar/click-to-proceed "点击，继续筛查"
 :result-bar/please-complete-all-fields "请完成所有的问题"
 :result-bar/possible-infection "可能感染"
 :result-bar/screened-negative "已筛查为阴性"}

 ;; everything below this point is not used in the Harris Instance as far as I can tell
 ;; - G. Klein, 24 Mar 2020

 ;; outcome panels
 ;; FIXME :outcome-panel/you-have-screened "You have screened "
 ;; FIXME :outcome-panel/on-the " on the "
 ;; FIXME :outcome-panel/strong-covid19-assessment "COVID-19 Assessment"
 ;; FIXME :outcome-panel/but-you-do-not ", but you do not have concerning symptoms at this time."
 ;; FIXME :outcome-panel/minimal-symptoms " and have minimal symptoms."
 ;; FIXME :outcome-panel/strong-negative "NEGATIVE"
 ;; FIXME :outcome-panel/strong-positive "POSITIVE"
 ;; FIXME :outcome-panel/symptoms-should-be-evaluated " and have symptoms that should be evaluated by a healthcare professional."
 ;; FIXME :outcome-panel/have-concerning-medical-symptoms ", but have concerning medical symptoms."
 ;; FIXME :outcome-panel/not-in-harris "Your location or zip code does not belong to Harris County. Please contact your local health department."
 ;; FIXME :outcome-panel/call-arkansas-dept-of-health "Call the Arkansas Department of Health at "
 ;; FIXME :outcome-panel/during-business-hours " during business hours "
 ;; FIXME :outcome-panel/strong-if "IF"
 ;; FIXME :outcome-panel/you-have-indicated " you have indicated that you have:"
 ;; FIXME :outcome-panel/known-exposure "A known exposure to COVID-19"
 ;; FIXME :outcome-panel/have-travelled-from "Have travelled from a place with a known COVID-19 outbreak."
 ;; FIXME :outcome-panel/call "Call "
 ;; FIXME :outcome-panel/white-county-medical " for White County Medical Center Emergency Room, Searcy"
 ;; FIXME :outcome-panel/harris-medical-center " for Harris Medical Center Emergency Room, Newport"
 ;; FIXME :outcome-panel/r400h-click-link "Please click on this link and fill out the form to schedule COVID-19 testing."
 ;; FIXME :outcome-panel/please-contact-local-hd "Please contact your local health department."
 ;; FIXME :outcome-panel/call-local-health-dept "Call your local health department if you have either a known exposure to Coronavirus disease (COVID-19) or have traveled from a place with a known COVID-19 outbreak."
 ;; FIXME :outcome-panel/please-call-pcp "Please call your primary care provider if you continue to have health concerns."
 ;; FIXME :outcome-panel/need-further-evaluation-or-testing " need further evaluation or testing at this time."
 ;; FIXME :outcome-panel/please-repeat-4-hours "Please repeat this assessment in 4 hours or if you feel worse."
 ;; FIXME :outcome-panel/implement-home-care "You may implement a home care plan if:"
 ;; FIXME :outcome-panel/feel-well-home-care "You feel well enough to receive care at home."
 ;; FIXME :outcome-panel/appropriate-caregivers "Appropriate caregivers are available at home."
 ;; FIXME :outcome-panel/seperate-bedroom "There is a separate bedroom where you can recover without sharing immediate space with others."
 ;; FIXME :outcome-panel/resources-for-food-and-water "Resources for access to food and other necessities are available."
 ;; FIXME :outcome-panel/you-have-access-ppe "You and other household members have access to appropriate, recommended personal protective equipment (at a minimum, gloves and facemask) and are capable of adhering to precautions recommended as part of home care or isolation (e.g., respiratory hygiene and cough etiquette, hand hygiene)"
 ;; FIXME :outcome-panel/you-should-discuss-plan "You should discuss your plan with your Primary care provider or any healthcare provider if there are household members who may be at increased risk of complications from COVID-19 infection (.e.g., people >65 years old, young children, pregnant women, people who are immunocompromised or who have chronic heart, lung, or kidney conditions)."
 ;; FIXME :outcome-panel/call-pcp-for-test "Please call your primary care provider to be tested for COVID-19."
 ;; FIXME :outcome-panel/results-isolation-testing "Based on your results you need a medical evaluation that needs to be done in a specific type of isolation room."
 ;; FIXME :outcome-panel/outpatient-clinics-cant "Outpatient clinics are not not properly equiped to do your examination."
 ;; FIXME :outcome-panel/please-call-er-prior "Please call the ER prior to presentation."
 ;; FIXME :outcome-panel/before-entering-facility "Before entering the facility, we will bring you a mask."
 ;; FIXME :outcome-panel/you-will-be-escorted "You will then be escorted to the proper location."
 ;; FIXME :outcome-panel/results-require-attention "Based on your results you have symptoms that require medical attention."
 ;; FIXME :outcome-panel/please-call-to-discuss "Please call your primary care provider or the nearest healthcare provider and discuss these symptoms."
 ;; FIXME :outcome-panel/please-share-screening "Please share your screening results below."
 ;; FIXME :outcome-panel/questions "Questions"
 ;; FIXME :outcome-panel/answers "Your Answers"
 ;; FIXME :outcome-panel/assessment-results "Assessment Results:"

 ;; PANEL_C300_COMORBIDITIES
 ;; FIXME :not-limited-immunosuppressant-meds "not limited to prednisone, biologics, and antirejection meds"

 ;; Questions
 ;; FIXME :option/i-feel-fine "I feel fine"
 ;; FIXME :option/i-feel-sick "I feel sick"
 ;; FIXME :option/i-feel-very-sick "I feel very sick / Considering hospitalization"
 ;; FIXME :option/temp-above "Temperature above 100.4 °F"
 ;; FIXME :option/temp-below "Temperature below 96.8 °F"
 ;; FIXME :option/normal-temp "Normal temperature / I don't know"
 ;; FIXME :option/cough "Cough"
 ;; FIXME :option/i-am-breathing-very-fast "I am breathing very fast"
 ;; FIXME :option/high-blood-pressure "High blood pressure"
 ;; FIXME :option/cancer-diagnosis "Cancer diagnosis"
 ;; FIXME :option/taking-immunosuppressant-medication "Taking immunosuppressant medication *"
 ;; FIXME :option/kidney-failure-on-dialysis "Kidney failure on dialysis"
 ;; FIXME :option/other-chronic-health-condition "Other Chronic health condition"
 ;; FIXME :factor-question/feeling-sick-today "Are you feeling sick today?"
 ;; FIXME :factor-question/been-in-contact-with-covid19 "Have you been in contact with someone with COVID-19?"
 ;; FIXME :factor-question/recently-traveled "Have you recently traveled to a location with known COVID-19 outbreak? *"
 ;; FIXME :factor-question/have-been-exposed "Have you been exposed to COVID-19?"
 ;; FIXME :factor-question/what-is-your-temp "What is your temperature?"
 ;; FIXME :factor-question/do-you-have-the-following "Do you have any of the following?"
 ;; FIXME :factor-question/lower-respiratory-distress "Do you have any lower respiratory distress?"
 ;; FIXME :factor-question/what-is-your-age "What is your age? (optional)"

 ;; Result Table
 ;; FIXME :resultsTableLabel/comorbidities "Comorbidities"
 ;; FIXME :resultsTableLabel/age-risk "Age Risk"}
